* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF7F0;
}

header {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px ;
    background-color: #F6D6E0;
    border: 3px solid #4A343A;
    border-radius: 20px;
}

.div-logo {
    width: 25%;
}

.div-logo img {
    width: 50px;
}

.div-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 50%;
}

.div-menu p {
    color: #4A343A;
}

.div-botao {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.div-botao button {
    padding: 10px 20px;
    background-color: #D98FA5;
    color: white;
    border: 2px solid #4A343A;
    border-radius: 15px;
}

main {
    padding: 30px;
}

.titulo {
    display: flex;
    justify-content: center;
    background-color: #F6D6E0;
    padding: 25px;
    border-radius: 20px;
}

.titulo h1 {
    color: #4A343A;
}


.produtos {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.caixas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 75%;
}

.caixa {
    width: 25%;
    padding: 10px;
    border: 2px solid #4A343A;
    border-radius: 15px;
    text-align: center;
    background-color: white;
}

.caixa img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.caixa p {
    color: #4A343A;
    margin-top: 8px;
}

.caixa span {
    color: #D98FA5;
}


.imagem-lateral img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 15px;
}


footer {
    display: flex;
    flex-direction: column;
    background-color: #F6D6E0;
    color: #4A343A;
}

footer > div {
    display: flex;
}

.div-footer {
    width: 33%;
}
.div-footer h2 {
    margin-bottom: 15px;
}

.div-footer p {
    margin-bottom: 10px;
}

footer span {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

