* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

#banner-principal {
    margin-top: 1rem;
    width: 60vw;
    height: 50vh;
    border-radius: 1rem;
}

.divisinha {
    display: flex;
    width: 100%;
    background-color: #e3bae6;
    justify-content: center;
}

.img-divisinha {
    width: 20rem;
    border-radius: 1rem;
}

.div-divisinha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #823687;
}

.div-divisinha p {
    width: 50%;
}